@import url(https://fonts.googleapis.com/css2?family=Yellowtail&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --dark: hsla(210, 36%, 13%, 0.967);
  --dark-2: hsla(209, 50%, 18%, 0.688);
  --green: hsla(165, 100%, 51%, 0.69);
  --white: hsl(0, 0%, 100%);
  --gray: rgba(191, 191, 191, 0.427);
}

body {
  font-family: 'Space Grotesk', handwriting;
  background: var(--white);
  letter-spacing: 1px;
  /* overflow: hidden; */
  padding: 0 5%;
}


body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 50px;
  border: 3px solid var(--dark-2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5vh 0;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill,
      minmax(250px, 1fr));
}

.note.new {
  background-color: #67d7cc;
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}